//templates/index.html
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Python Flask Dynamic Drag and Drop Order List With jQuery Ajax and Mysql Database</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
ul {
 padding:0px;
 margin: 0px;
}
#response {
 padding:10px;
 background-color:#9F9;
 border:2px solid #396;
 margin-bottom:20px;
}
#list li {
 margin: 0 0 3px;
 padding:8px;text-align:left;
 background-color:#00CCCC;
 color:#fff;
 list-style: none;
 border: #CCCCCC solid 1px;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
   function slideout(){
    setTimeout(function(){
      $("#response").slideUp("slow", function () {
    });
    }, 2000);
  }

  $("#response").hide();
  $(function() {
    $("#list ul").sortable({ opacity: 0.8, cursor: 'move', update: function() {
      var item_order = new Array();
      $('ul.reorder li').each(function() {
          item_order.push($(this).attr("id"));
      });
      var order_string = 'order='+item_order;
      $.ajax({
        method: "POST",
        url: "/updateList",
        data: order_string,
        cache: false,
        success: function(data){
            $("#response").html(data);
            $("#response").slideDown('slow');
            slideout();
        }
    });
    }
    });
   });

});
</script>
</head>
<body>
<center>
<p><h1>Python Flask Dynamic Drag and Drop Order List With jQuery Ajax and Mysql Database</h1></p>
<div style="width:300px;">
 <div id="list">
 <div id="response"> </div>
   <ul class="reorder">
    {% for row in dragdrop %}
     <li id="{{row.id}}">{{row.text}}
       <div class="clear"></div>
     </li>
     {% endfor %}
   </ul>
 </div>
</div>
</center>
</body>
</html>